* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}

.canvas  {
    display: block;
    width: 80%;
    max-width: 1280px;
    padding-bottom: 40%;
    margin: auto;
    margin-top: 8%;
    background-color: white;
    border-width: 8px;
    border-radius: 8px;
    border-color: #cccccc;
    -webkit-box-shadow: 0px 4px 7px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 7px -1px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 7px -1px rgba(0,0,0,0.2);
}


/* The canvas wrapper when work area is rendered with svg */
/*
.svg-canvas-wrapper {
    display: block;
    width: 80%;
    max-width: 1440px;
    margin-left:auto;
    margin-right: auto;
    padding: 6% 10%;
}
*/

.palette {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 160px;
    background-color: white;
    -webkit-box-shadow: 0px -4px 4px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -4px 4px -4px rgba(0,0,0,0.5);
    box-shadow: 0px -4px 4px -4px rgba(0,0,0,0.5);
}

.shape-wrapper {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    text-align: center;
}

.shape {
    display: inline-block;
    width: 100px;
    height: 80px;
    /* background-color: blue; */
    margin-right: 3%;
}